#home-header {
    width: 100%;
    height: 1047px;
    background-repeat: no-repeat;
    background-attatchment: local;
    background-position: center;
    background-image: url("../img/optimized_for_web_dimensions_5.jpg");
    position: absolute;
}

.panel-header {
    font-family: Montserrat;
    font-weight: 800;
    max-width: 400px;
    color: #333333;
    font-size: 22pt;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-panel {
    margin-left: 30px;
    margin-right: 30px;
}
.panel-paragraph {
    font-family: Open Sans;
    font-weight: 500;
    color: #696969;
    text-align: left;
}

.highlight-link {
    color: #9052F9;
    font-weight: 800;
}

.highlight-link:hover {
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
}

.highlight-link:visited {
    color: #9052F9;
}

.labeled-tag {
    background: #9052F9;
    width: 200px;
    border-radius: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 0 85px rgb(90 86 130 / 10%);
}

.preview-image {
    width:500px;height:auto;
}

#third-preview-image {
    width:550px;
    transform:translateY(-50px);
}

.features-overview:hover {
    box-shadow: 0 0 85px rgb(90 86 130 / 15%);
}

.features-overview-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.features-overview {
    transition: 0.15s all ease;
    background-color:#fff;
    height:180px;
    width:290px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 0 85px rgb(90 86 130 / 10%);
    border-radius: 25px;
    cursor: pointer;
}

.labeled-tag > p {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 11pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.features-overview > h1 {
    font-family: Montserrat;
    color: #383838;
    font-size: 13.5pt;
    padding: 30px;
    margin-top: -15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.features-overview > p {
    color: #696969;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.purple-color {
    color: #9052F9;
    font-weight: 900;
}

.features-text {
    font-family: Montserrat;
    font-weight: 800;
    text-align: center;
}

.color-orb {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 30px;
    align-content: center;
    background: #9052F9;
    transform: translateY(-50px);
    text-align: center;
    color: #fff;
}

.secondary-orb {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    align-content: center;
    background: #9052F9;
    text-align: center;
    color: #fff;
    margin-left: 30px;

}

.less-emphasized {
    font-weight: 500 !important;
}

.color-orb > i, .secondary-orb > i {
    padding-top: calc(17px);
}



#call-to-action {
    position: relative;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;

}

.main-header-text {
    margin-top: 60px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 2em;
}

.text-emphasis {
    font-weight: 900;
}

.visualization-selection-container {
    display: block;
}

.visualization-selection {
    margin: auto;
    width: 400px;
    height: 50px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 30px;
    padding-left: 35px;
    font-family: Montserrat;
    font-size: 13.33px;
    font-weight: 500;
    box-shadow: 0 16px 20px -8px rgba(118 175 235 0.5);
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    border: none;
    background-position: right 2rem center;
    background-size: 1em;
    margin-right: 15px;
}

.visualization-selection-button {
    display: inline-block;
    background: #fff;
    border-radius: 30px;
    font-size: 13.33px;
    height: 50px;
    width: 150px;
    outline: none;
    padding: 0;
    border: none;
    background: black;
    font-family: Montserrat;
    color: #fff;
    font-weight: 800;
}

.visualization-selection-button:hover {
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
}

#logo-holder {
    transform: translateY(0px) !important;
}


@media only screen and (max-width:1060px) {
    div.features-overview {
        margin-bottom:60px;
    }

    .features-overview-container {
        height: 500px;
    }
}

@media only screen and (max-width:710px) {
    .features-overview-container {
        height: 800px;
    }
}

#top-nav {
    padding-top: 20px !important;
}

.section-divider {
    margin-top: 100px;
}

@media only screen and (max-width: 992px) {
    #third-preview-image {
        transform: translateY(0px);
    }
}

.central-modal {
    /*height: 600px;*/
    width: 60%;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 85px rgb(90 86 130 / 20%);
    display: none;
    /*overflow-y: auto;*/
    padding-bottom: 50px;
    padding-top: 0px;
    z-index: 2;
    border-radius: 20px;
}

.inner-c2a-popup {
    padding-right: 15%;
}

.c2a-popup-header {
    font-family: Montserrat;
    font-weight: 800;
    /*max-width: 400px;*/
    color: #333333;
    font-size: 22pt;
    padding-top: 10px;
    /*padding-bottom: 10px;*/

}

#c2a-popup-image {
    width: 80%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#c2a-popup-image-2 {
    width: 100%;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 30px;

}

#c2a-popup-image-3 {
    width: 100%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 25px;

}

@media only screen and (max-width: 1250px) {
    #c2a-popup-image, #c2a-popup-image-2, #c2a-popup-image-3 {
        display: none;
    }
}

@media only screen and (max-width: 1185px) {
    .secondary-orb {
        display: none;
    }
}

.c2a-popup-image-organizer {
    text-align: center;
}

.c2a-popup-intro-row {
    margin-bottom: 10px;
    margin-top: 10px;
}

.c2a-popup-paragraph {
    font-family: Open Sans;
    font-weight: 500;
    color: #696969;
}

.border-strip {
    width: 100%;
    background: #9052F8;
    height: 30px;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 15px;
}

#sidebar-popup {
    height: 100%;
    width: 600px;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 0 85px rgb(90 86 130 / 20%);
    /*transition: display 1s linear;*/
    display: none;
    overflow-y: auto;
    padding-bottom: 100px;
    padding-top: 20px;
    z-index: 2;
}

.portrait-row {
    text-align: center;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.portrait-col {
    max-width: 300px;
}

.portrait-title, .portrait-subtitle {
    font-family: Montserrat;
}

.portrait-title {
    font-weight: 800;
    font-size: 14pt;
}

.portrait-subtitle {
    font-weight: 400;
    font-size: 12pt;
}

.portrait-paragraph {
    font-family: Open Sans;
    font-weight: 500;
    color: #696969;
    font-size: 11pt;
}

.close-button, .close-button-2 {
    font-family: Montserrat;
    font-weight: 800;
    cursor: pointer;
}
.close-button {
    margin-left: 35px;
}

.close-button-2-container
{
    background:white;
    width:60px;
    height:40px;
    border-radius:20px;
    transform:translateY(-35px);
    padding-top: 5px;
    text-align: center;
    margin-left: 15px;
}

.close-button:hover, .close-button-2:hover {
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
}

.portrait-icon {
    color: #6353F4;
    background: #faf7fc;

    border-radius: 8px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.portrait-icon:hover {
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
}

@media only screen and (max-width: 768px) {
    #sidebar-popup {
        width: 300px;
    }

    .portrait-icon {
        margin-bottom: 25px;
    }
}

#darken {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
}

#landing-page-footer {
    color: white;
    padding-left:12vw;
    padding-right:12vw;
    padding-top: 100px;
    height: auto;
    width: 100%;
    background: #222221;
    padding-bottom: 100px;
    margin-top: 120px;
}

.footer-row {
    padding-bottom: 50px;
}

.aboveline {
    border-top: 1px solid #333323;
    padding-top: 50px;
    width: 100%;
    height: 50px;
}

.footer-header {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 17pt;
    padding-bottom: 20px;
}

.footer-header > span {
    font-weight: 400;
    font-size: 16pt;
}

.footer-paragraph {
    font-family: Open Sans;
    font-weight: 500;
    color: #CCCCCC;
    font-size: 12pt;
}

#logo-column {
    padding-right: 5vw;
}

#footer-emphasis {
    font-size: 19pt !important;
}

.footer-link:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}

@media only screen and (max-width: 1250px) {
    #landing-page-footer {
        padding-left: 6vw;
        padding-right: 6vw;
    }
}

@media only screen and (max-width: 1000px) {
    .footer-header {
        font-size: 14pt;
    }
}

@media only screen and (max-width: 800px) {
    .footer-header {
        font-size: 12pt;
    }

    .footer-paragraph {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 650px) {
    .footer-header {
        display: none;
    }

}

.footer-bold {
    font-family: "Open Sans";
    font-weight: 700;
}

#first-panel {
    margin-top: 150px;
}